spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/booking_care
    username: root
    password: baoanh123
  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: false
    properties:
      hibernate:
        enable_lazy_load_no_trans : true
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
bezkoder:
  app:
    jwtSecret: bezKoderSecretKey
    jwtExpirationMs: 3600000
    jwtRefreshExpirationMs: 86400000
logging:
  level:
    org:
      hibernate:
        sql: DEBUG
        type:
          descriptor:
            spl:
              BasicBinder : TRACE