 .u-section-1 {
  background-image: url("images/239819422-0.jpeg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1464px;
}

.u-section-1 .u-list-1 {
  margin-top: 106px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15.75px));
  min-height: 251px;
  grid-gap: 21px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 11px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 11px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 11px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 19px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 11px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 550px;
  min-height: 450px;
  height: auto;
  margin: 10px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding-bottom: 1px;
}

.u-section-1 .u-form-1 {
  height: 127px;
  width: 510px;
  margin: 20px 20px 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.u-section-1 .u-form-2 {
  height: 127px;
  width: 510px;
  margin: 0 auto;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-form-3 {
  height: 127px;
  width: 510px;
  margin: 0 20px;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 106px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 438px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 22px 30px;
}

.u-section-1 .u-form-4 {
  height: 127px;
  width: 510px;
  margin: 0 auto;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
}

.u-section-1 .u-form-5 {
  height: 127px;
  width: 510px;
  margin: 0 auto;
}

.u-section-1 .u-label-7 {
  font-weight: 700;
}

.u-section-1 .u-label-8 {
  font-weight: 700;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 438px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 16px 30px;
}

.u-section-1 .u-form-6 {
  height: 127px;
  width: 510px;
  margin: 0 14px;
}

.u-section-1 .u-label-9 {
  font-weight: 700;
}

.u-section-1 .u-label-10 {
  font-weight: 700;
}

.u-section-1 .u-form-7 {
  height: 127px;
  margin: 0 8px 0 20px;
}

.u-section-1 .u-label-11 {
  font-weight: 700;
}

.u-section-1 .u-label-12 {
  font-weight: 700;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 41px;
  min-height: 16px;
  width: 224px;
  min-width: 124px;
  margin: 19px auto 43px;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
}

.u-section-1 .u-icon-7 {
  height: 100%;
}

.u-section-1 .u-icon-8 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 204px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-1 .u-form-4 {
    width: 426px;
  }

  .u-section-1 .u-form-5 {
    width: 426px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 361px;
  }

  .u-section-1 .u-form-6 {
    width: 438px;
    margin-top: 130px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 528px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-form-4 {
    width: 316px;
  }

  .u-section-1 .u-form-5 {
    width: 316px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-6 {
    width: 328px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    grid-gap: 21px 21px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-form-3 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-2 {
    width: 340px;
  }

  .u-section-1 .u-form-3 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-6 {
    width: 320px;
  }
}